<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
	<add name="ASPStateConn" connectionString="Data Source=CAADW00GAAA4005;Initial Catalog=ASPState;User ID=OWPAspState;PASSWORD=+%##+L7nC7**9tJ6;Encrypt=True;TrustServerCertificate=False;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
	<add name="AmcosAdo" connectionString="Data Source=CAADW00GAAA4005;Initial Catalog=Amcos;User ID=AmcosUser;Password=yRfnAa3ehpZH6Bb8;Encrypt=True;TrustServerCertificate=False;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
	<add name="AmcosEF" connectionString="Data Source=CAADW00GAAA4005;Initial Catalog=Amcos;User ID=AmcosUser;Password=yRfnAa3ehpZH6Bb8;MultipleActiveResultSets=True;App=EntityFramework;Encrypt=True;TrustServerCertificate=False;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
</connectionStrings>
  <appSettings>
    <add key="Environment" value="Development" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="FeatureFlag-QuickSight" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="SetAttributes(mode)" />
  </system.web>
</configuration>