<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SqlUnitTesting" type="Microsoft.Data.Tools.Schema.Sql.UnitTesting.Configuration.SqlUnitTestingSection, Microsoft.Data.Tools.Schema.Sql.UnitTesting, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <SqlUnitTesting>
    <DataGeneration ClearDatabase="true" />
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=CAADW00GAAA4005;Initial Catalog=Amcos;User ID=AmcosUser;Password=yRfnAa3ehpZH6Bb8;Encrypt=True;TrustServerCertificate=False;" />
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=CAADW00GAAA4005;Initial Catalog=Amcos;User ID=AmcosUser;Password=yRfnAa3ehpZH6Bb8;Encrypt=True;TrustServerCertificate=False;" />
  </SqlUnitTesting>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="AmcosEF" connectionString="Data Source=CAADW00GAAA4005;Initial Catalog=Amcos;User ID=AmcosUser;Password=yRfnAa3ehpZH6Bb8;MultipleActiveResultSets=True;App=EntityFramework;Encrypt=True;TrustServerCertificate=False;" providerName="System.Data.SqlClient" />
    <add name="AmcosAdo" connectionString="Data Source=CAADW00GAAA4005;Initial Catalog=Amcos;User ID=AmcosUser;Password=yRfnAa3ehpZH6Bb8;Encrypt=True;TrustServerCertificate=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AmcosUserUpdateDays" value="365" />
    <add key="Environment" value="UnitTest" />
    <add key="AmcosAdminEmail" value="UnitTest@calibresys.com" />    
	<add key="AwsAccountId" value="524345694407" />
	<add key="InventoryDashboardId" value="1f209b14-d994-4600-bcca-20fa645a3da9" />
	<add key="PayPlanXwalkDashboardId" value="d6bb2dd8-8fc0-4736-aa0e-1eecce376037" />
	<add key="XwalkDashboardId" value="d6bb2dd8-8fc0-4736-aa0e-1eecce376037" />
	<add key="HelpSpotDashboardId" value="4975880f-eb8a-44dd-a9db-54be9712f065" />
	  <!-- Common Settings -->
	  <add key="AmcosUrl" value="https://my.test-amcos.com/" />
	  <add key="CaveUrl" value="https://my.test-cave.com/logout" />

	  <!-- Production Path Settings -->
	  <add key="KeyCloakClientId" value="prod-client-id" />
	  <add key="KeyCloakClientSecret" value="prod-secret" />
	  <add key="KeyCloakAuthority" value="https://prod.keycloak.com/auth/realms/my-realm" />

	  <!-- Development/Mock Path Settings -->
	  <add key="InternalTester_NameIdentifier" value="test-user-id" />
	  <add key="InternalTester_Name" value="Doe, John A" />
	  <add key="InternalTester_GIVENNAME" value="John" />
	  <add key="InternalTester_SN" value="Doe" />
	  <add key="InternalTester_Email" value="john.doe.ctr@mail.mil" />
	  <add key="InternalTester_PreferredUserName" value="johndoe" />
	  <add key="InternalTester_Department" value="DEV-TEAM" />
	  <add key="InternalTester_ARMYACCOUNTTYPE" value="CTR" />
	  <add key="InternalTester_Role" value="Admin" />
  </appSettings>
<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="AMCOSModel" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>                   
  <runtime>                   
                        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">                   
                                              <dependentAssembly>                   
                                                                    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />                   
                                                                    <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />                   
                                              </dependentAssembly>                   
                                              <dependentAssembly>                   
                                                                    <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />                   
                                                                    <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />                   
                                              </dependentAssembly>                   
                        </assemblyBinding>                   
  </runtime>
</configuration>
