@page
@model AMCOS.Web.Core.Pages.AboutModel
@{
    ViewData["Title"] = "About AMCOS";
}

<div class="row">
    <div class="col-lg-10">
        <h1>Introduction to AMCOS</h1>
        <p>AMCOS is used to develop cost factors for civilian and military personnel costs. It is updated twice a year with a spring update in April and a fall update in October. AMCOS contains four major tools which allow users to export results to Microsoft Excel:</p>
        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item"><strong>AMCOS Lite</strong> - a quick and simple way to retrieve cost factors for specific types of personnel. AMCOS Lite displays costs for each grade, appropriation and cost factor.</li>
            <li class="list-group-item"><strong>Project Manager</strong> - used to perform a multi-year cost analysis for a combination of personnel requirements from one or more pay plans. Project Manager provides flexibility in specifying requirements and parameters such as MOS/AOC/occupational series/SOC, grade, start year, project duration, inflation and discount rates.</li>
            <li class="list-group-item"><strong>Xwalk</strong> - provides a crosswalk between related military and civilian careers and private labor market salary and benefits from BLS OES data.</li>
            <li class="list-group-item"><strong>Civilian Permanent Change of Station (PCS)</strong> - derives estimated costs to move a civilian from one location to another and breaks the estimate into policy-driven cost elements.</li>
        </ul>
    </div>
</div>
