@page
@{
    ViewData["Title"] = "Help & Support";
}

<div class="row">
    <div class="col-lg-8">
        <h1>Help &amp; Support</h1>
        <hr />
        <p>
            For questions or suggestions, please
            <a href="https://www.aesmp.army.mil/csm?id=sc_cat_item&sys_id=faac2dbe9775d69440c7b8021153afee" target="_blank">
                click here
            </a>
            to contact us via the AESMP support portal.
        </p>
        <p>
            For more information on how to submit a request, please
            <a href="/Public/AESMP User Primer.pdf" target="_blank">click here</a>
            to view the AESMP User Primer (PDF).
        </p>
    </div>
</div>
